{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>

<body>
  {% include 'Blog/links.html' %}
  
<div class="row" style="justify-content: center">
    <h1>Notícias</h1>
</div>
<div class="row" style="justify-content: center">
  <h6 id="totalHeader"></h6>
</div>
<div>
  <ul class="list-group">
  {% for nw in news %}
    <!-- <div>
      <span>{{nw.title}}</span>
      <span>{{nw.message}}</span>
      <span>{{nw.user.name}}</span>
      <span>
        <a href="{% url 'updateNews' pk=nw.id %}">Atualizar</a> 
        | 
        <a href="{% url 'deleteNews' pk=nw.id %}">Deletar</a>
      </span>
      <br/>
    </div> -->
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <!-- <a class="text-decoration-none" href="/link3">Link 3</a>
       <a href="/trash3" class="btn btn-sm btn-danger">x</a> -->
       <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{nw.title}}</h5>
          <small class="text-muted"></small>
         </div>
        <p class="mb-1">{{nw.message}}</p>
        <small class="text-muted">Autor: {{nw.user.name}}, Data: {{nw.created_at}}</small>
        </div>  
      <a href="{% url 'updateNews' pk=nw.id %}" class="btn btn-sm btn-primary">Atualizar</a>
      <a href="{% url 'deleteNews' pk=nw.id %}" class="btn btn-sm btn-danger">Deletar</a>
    </li>
  </ul>
  {% empty %}
    <h3 colspan="5">Nenhuma notícia postada</h3>
  {% endfor %}

  {% block javascript %}

<script type="text/javascript">
  onload = function () {

    var xmlhttp = new XMLHttpRequest();

    xmlhttp.open("GET", "/newsCount", true);
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.status == 200 && xmlhttp.readyState == 4) {
        var resposta = JSON.parse(xmlhttp.responseText);
        document.getElementById('totalHeader').innerText = "Total de notícias: " + resposta.totalNumberOfNews
      }
    };
    xmlhttp.send(null);
  }
</script>
{% endblock %}

</div>
</body>
</html>