{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Minhas notícias</title>
  <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>

<body>
  {% include 'Blog/links.html' %}
  
<div class="row" style="justify-content: center">
  <h1>Lista de notícias</h1>
</div>
<div>
  {% for nw in news %}
    <div>
      <span>{{nw.title}}</span>
      <span>{{nw.message}}</span>
      <span>{{nw.user.name}}</span>
      <span><a href="{% url 'updateNews' pk=nw.id %}">Atualizar</a> | 
        
      </span>
      <br/>
    </div>
  {% empty %}
    <h3 colspan="5">Nenhuma notícia postada</h3>
  {% endfor %}

</div>
</body>
</html>