{% extends 'Blog/index.html' %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

{% block content %}

<div class="row" style="justify-content: center">
    <h5>Cadastre sua conta</h5>
  </div>

<div class="row" style="justify-content: center">
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!-- {{ form.as_p }} -->
        {% bootstrap_button "Registrar" %}
        <!-- <input type="submit" value="Registrar"> -->
    </form>
</div>
{% endblock content %}